<h1 class="text-2xl font-bold">{{ product().title }}</h1>
<div class="divider"></div>

<form class="grid grid-cols-1 sm:grid-cols-2 gap-4" [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <!-- Datos generales -->
  <div class="flex flex-col gap-2">
    <h2 class="text-2xl font-bold h-12">Datos generales</h2>
    <input
      type="text"
      placeholder="Título"
      class="input input-bordered w-full"
      formControlName="title"
    />
    @if (FormUtils.isValidField(productForm,'title')) {
      <span class="text-red-500 text-sm">{{FormUtils.getTextError(productForm.controls.title.errors!)}}</span>

    }

    <input type="text" placeholder="Slug" formControlName="slug"
           class="input input-bordered w-full" />
    @if (FormUtils.isValidField(productForm,'slug')) {
      <span class="text-red-500 text-sm">{{FormUtils.getTextError(productForm.controls.slug.errors!)}}</span>
    }

    <textarea
      class="textarea textarea-bordered"
      placeholder="Descripción"
      rows="6"
      formControlName="description"
    ></textarea>
    @if (FormUtils.isValidField(productForm,'description')) {
      <span class="text-red-500 text-sm">{{FormUtils.getTextError(productForm.controls.description.errors!)}}</span>
    }

    <h2 class="text-lg font-bold">Datos de venta</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
      <input
        type="number"
        placeholder="Precio"
        formControlName="price"
        class="input input-bordered w-full"
      />
      @if (FormUtils.isValidField(productForm,'price')) {
        <span class="text-red-500 text-sm">{{FormUtils.getTextError(productForm.controls.price.errors!)}}</span>
      }

      <input
        type="number"
        placeholder="Inventario"
        formControlName="stock"
        class="input input-bordered w-full"
      />
    </div>

    <!-- tags -->
    <input type="text" placeholder="Tags" formControlName="tags" class="input input-bordered w-full" />

    <!-- Botones para el género -->
    <div class="grid grid-cols-4 gap-2">
      <!-- <button class="btn btn-sm btn-outline">Masculino</button> -->
      <button class="btn btn-sm"
              [class.btn-primary]="productForm.value.gender === 'men'"
              (click)="productForm.patchValue({gender: 'men'})"
              type="button">Masculino</button>
      <button class="btn btn-sm"
              [class.btn-accent]="productForm.value.gender === 'women'"
              (click)="productForm.patchValue({gender: 'women'})"
              type="button">Femenino
      </button>
      <button class="btn btn-sm"
              [class.btn-warning]="productForm.value.gender === 'kid'"
              (click)="productForm.patchValue({gender: 'kid'})"
              type="button">Kid</button>
      <button class="btn btn-sm"
              [class.btn-secondary]="productForm.value.gender === 'unisex'"
              (click)="productForm.patchValue({gender: 'unisex'})"
              type="button">Unisex</button>
    </div>

    <!-- <select class="select select-bordered w-full">
      <option value="male">Masculino</option>
      <option value="female">Femenino</option>
      <option value="unisex">Unisex</option>
    </select> -->

    <!-- Sizes -->
    <div class="grid grid-cols-6 gap-2">
      @for (size of sizes; track size) {
        <button class="btn btn-sm btn-outline"
                [class.btn-primary]="productForm.value.sizes?.includes(size)"
                (click)="onSizeClicked(size)"
                type="button">
          {{ size }}
        </button>
      }
    </div>
  </div>

  <!-- Imágenes -->
  <div class="flex flex-col gap-2">
    <div class="flex justify-end h-12">
      <button class="btn btn-secondary" type="submit">
        <!-- <span class="loading loading-spinner loading-sm"></span> -->

        Guardar
      </button>
    </div>
    <product-list-carrousel [images]="imagesArray()" />

    <input type="file" class="file-input file-input-bordered w-full mt-4"
           (change)="onFileChange($event)"
           multiple accept="image/*"
    />
    <div class="grid grid-cols-2 sm:grid-col4 gap-2">
      @for (image of tempImages(); track image){
        <img [src]="image" [alt]="image" class="w-full object-cover rounded-xl"/>
      }
    </div>
  </div>
</form>

@if (this.wasSaved()) {
  <div class="alert alert-success fixed bottom-4 right-4 w-80 animate-fadeIn">
  <span>
    {{msg()}}
  </span>
  </div>
}
